.student-list-item
  display: flex
  align-items: center
  justify-content: space-between

  .name
    flex: 6 1 100% 
  .charge-input
    flex: 2 1 100% !important
  .icon-group
    flex: 2 1 100%
    display: flex
    justify-content: flex-end


  &.absent
    text-decoration: line-through

